{{ imports }}

st.set_page_config(
   page_title='{{ title }}',
   layout='{{ layout }}',
   initial_sidebar_state='{{ initial_sidebar_state }}'
)

{{ widget_source }}

if __name__ == "__main__":
    widget = {{ widget_name }}({{ data }})
    widget.run()
